.Cartaoredessociais{
  width: 30%;
  height: auto;
  background-color: #FBFAF8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-bottom: 20px;
}
.Cartaoinfo-container{
  width: 30%;

  display: flex;
  align-items: center;
  
}

.Textocartaoredes{
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.instagraminfo,.facebookinfo, .linkedininfo{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 10px;
}

.instagraminfo p,.facebookinfo p, .linkedininfo p{
  margin-left: 10px;
}

@media (max-width: 969px) {
  .Cartaoredessociais{
    width: 50%;
  }

  .Textocartaoredes{
    font-size: 30px;
  }

}





@media (max-width: 427px) {
  .Textocartaoredes{
    font-size: 20px;
  }
  
}

@media (max-width: 419px) {

    .Cartaoredessociais{
      width: 100%;
    }
  
    .Textocartaoredes{
      font-size: 40px;
    }
    .instagraminfo,.facebookinfo, .linkedininfo{
      display: flex;
      align-items: center;
      font-size: 20px;
      
      font-weight: 400;
      padding-left: 5px;
  
    }
  
  }

  @media (max-width: 315px) {


  
    .Textocartaoredes{
      font-size: 30px;
    }
    .instagraminfo,.facebookinfo, .linkedininfo{
      display: flex;
      align-items: center;
      font-size: 20px;
      
      font-weight: 400;
      padding-left: 5px;
  
    }
  
  }
  

