

  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Pridi:wght@200&family=Rouge+Script&family=Sacramento&family=Sansita+Swashed&display=swap');

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Pridi', serif;
font-family: 'Rouge Script', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Sansita Swashed', cursive;
*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #EEECE3;
    height: 100%;
    width: 100%;
}