.TitlesHome{
    margin-top: 20px;
    font-weight: 400;
    font-size: 96px;
    display: flex;
    justify-content: center;
    font-family: 'Sansita', sans-serif;
    text-decoration-line: underline;
}
.CardverticalHome{
    display: flex;
    flex-wrap: wrap;
    
}
.Titulopaginas{
    font-family: 'Pridi', serif;
    font-weight: 1000;
    font-size: 40px;
    color: #af7839;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media (max-width: 510px) {
    .TitlesHome{
        font-size: 50px;
    }
  }

  @media (max-width: 887px) {
    .CardverticalHome{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;

  }
}