.Login_box{
    width: 300px;
    height: 320px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 100px;
    padding: 10px;
    box-shadow: 0 0 30px #615e5e;
}
.LogoDoSite{
    
    width: 100%;
    height: 100px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
}

.LogoDoSite img{
    
    margin: 0 auto;
}
.Botoes a { 
    
    color: inherit; 
    text-decoration: none;
} 

.Login_box input{
    background-color: #FAF9F9;
    width: 100%;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.10);
}
.InputBoxes label{
    font-family: 'Open Sans', sans-serif;
    margin-top: 50px;
    font-size: 16px;
    margin-left: 10px;
    font-weight: bold;
    color: #000000;
    opacity: 50%;
    margin-top: 10px;
}
.Login_box button{
    background-color: #B95553;
    width: 50%;
    height: 40px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 0px;
    box-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #f2f2f2;
    margin-top: 10px;
    cursor: pointer;
}

.Voltar{
    background-color: #AC9479 !important;
}

.InputBoxes input{
    opacity: 80%;
    letter-spacing: 1px;
    font-family: 'Pridi', serif;
    transition: .5s;
    outline-color: #AC9479;
}
.Login_box button:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    transition: 0.5s;
}


@media (max-width: 300px) {
    .Login_box{
        width: 100%;
    }
  }