.Nav-container {
  width: 100%;
  height: 80px;
  background-color: #FAF8EF;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%; 
  
}

.NavEsquerda {
  display: flex;
  align-items: center;
}

.NavEsquerda ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.NavEsquerda ul li {
  
  margin-right: 10px;
}



.NomeDoSite {
  font-family: 'Sansita Swashed', cursive;
  color: #AC9479;
  font-size: 24px;
  font-weight: bold;
}

.NavDireita {
  display: flex;
  align-items: center;
}

.NavLinks ul {
  
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  
  font-weight: 700;
  font-family: 'Pridi', serif;
  margin: 0 10px;
}
.nav-item a {
  font-weight: 700;
  color: #AC9479;
  text-decoration: none;
}


.nav-link {
  font-size: 18px;
  font-weight: 700;
  color: #AC9479;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}




.NavLogin {
  background-color: #dbd4cd;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.NavLogin:hover {
  background-color: rgba(227, 161, 8, 0.351);
}

.nav-link:hover {
  color: #c92828;
}


@media (max-width: 512px) {
  .NomeDoSite{
    display: none;
  }
  .logonavbar{
    display: none;
  }
}

@media (max-width: 365px) {
  .nav-link{
    font-size: 12px;
    
  }
  .NavLogin{
    font-size: 12px;
    
  }
}
