.containerpagcontatos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 0;
}



@media (max-width: 740px) {
    .containerpagcontatos{
        width: 100%;
        display: block;
        

  }
}


@media (max-width: 321px) {
    .usuario p{
        font-size: 16;
    }
        

  }
